Packs/PaloAltoIot3rdPartyBase/Playbooks/panw_iot_ise_integration.yml
description: |
  Playbook to be run every 15 minutes via a job. Each run will get incremental updates for devices, and will update or create new endpoints in ise with PANW IOT discovered attributes (ise custom attributes)
id: 5bc6e9ce-9bcd-4fd5-856f-95fd4c236313
inputs: []
name: panw_iot_ise_integration
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ed08e7d-bf93-46c7-8acc-f49cd8f5c1e4
      iscommand: false
      name: ""
      version: -1
    taskid: 9ed08e7d-bf93-46c7-8acc-f49cd8f5c1e4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 160,
          "y": -510
        }
      }
  "1":
    continueonerror: true
    id: "1"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Gets a list of devices detected/modified within the last 15 minutes
      id: c9f77350-a52a-4ca2-87c1-8fcfe3b98141
      iscommand: true
      name: get-incremental-device-inventory
      script: Palo Alto IoT Third-Party-Integration Base|||get-incremental-device-inventory
      type: regular
      version: -1
    taskid: c9f77350-a52a-4ca2-87c1-8fcfe3b98141
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 570,
          "y": 425
        }
      }
  "2":
    continueonerror: true
    id: "2"
    ignoreworker: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cisco ISE Copy
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 2df9367d-8ab9-4ddd-820c-fa5b619eac76
      iscommand: false
      name: IsIntegrationAvailable
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 2df9367d-8ab9-4ddd-820c-fa5b619eac76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 160,
          "y": -360
        }
      }
  "3":
    continueonerror: true
    id: "3"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: Cisco ISE instance is not configured
      playbook-name:
        simple: ise
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 3d7bfe05-41ae-4d92-8291-bf7eabbbb5ba
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 3d7bfe05-41ae-4d92-8291-bf7eabbbb5ba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -290,
          "y": -85
        }
      }
  "4":
    continueonerror: true
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      device_maps:
        simple: ${PaloAltoIoTIntegrationBase.Devices.asset_list}
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: converts PANW Iot device attribute map to ISE custom attributees
      id: cf7cffc2-58e2-4893-8398-04454b93f0f3
      iscommand: true
      name: convert-device-inventory-to-ise-custom-attributes
      script: Palo Alto IoT Third-Party-Integration Base|||convert-device-inventory-to-ise-custom-attributes
      type: regular
      version: -1
    taskid: cf7cffc2-58e2-4893-8398-04454b93f0f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 900
        }
      }
  "6":
    continueonerror: true
    id: "6"
    ignoreworker: false
    nexttasks:
      "no":
      - "15"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: e63f7f6f-5d4f-49dd-8dd8-de2d0f239cbe
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: e63f7f6f-5d4f-49dd-8dd8-de2d0f239cbe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1830
        }
      }
  "9":
    continueonerror: true
    id: "9"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      active_ise_instance:
        simple: ${PaloAltoIoTIntegrationBase.ActiveNodeInstance}
      device_maps:
        simple: ${PaloAltoIoTIntegrationBase.CisceISEAttributes}
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'For a give device map (from PANW IoT cloud) check if the device
        exists in Cisco ISE. If the output exists, the script will return the mac
        address other wise return nothing. '
      id: 63c31ce9-144f-4520-812c-7777396aec5b
      iscommand: false
      name: send_panw_iot_devices_to_ise
      script: send_panw_iot_devices_to_ise
      type: regular
      version: -1
    taskid: 63c31ce9-144f-4520-812c-7777396aec5b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1570
        }
      }
  "10":
    continueonerror: true
    id: "10"
    ignoreworker: false
    nexttasks:
      "no":
      - "4"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: e45fbd74-daf1-4818-8be5-afcbe3f7778a
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: e45fbd74-daf1-4818-8be5-afcbe3f7778a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 570,
          "y": 690
        }
      }
  "11":
    continueonerror: true
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: Failed to get device inventory from PANW IoT Cloud
      playbook-name:
        simple: ise
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 6094e29f-3f12-4085-8e1f-bb10a206b9cc
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 6094e29f-3f12-4085-8e1f-bb10a206b9cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 180,
          "y": 920
        }
      }
  "12":
    continueonerror: true
    id: "12"
    ignoreworker: false
    nexttasks:
      "no":
      - "17"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 6501ea25-c951-46b3-837b-87ead879749f
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: 6501ea25-c951-46b3-837b-87ead879749f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1125
        }
      }
  "13":
    continueonerror: true
    id: "13"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: Failed to convert device inventory to Cisco ISE custom attributes
      playbook-name:
        simple: ise
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: b6f96f9c-7894-4578-8052-fab856e08359
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: b6f96f9c-7894-4578-8052-fab856e08359
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 1360
        }
      }
  "14":
    continueonerror: true
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: Update custom attributes script failed
      playbook-name:
        simple: ise
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 320ad733-2c5a-4f2a-8d48-24c40756ac21
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 320ad733-2c5a-4f2a-8d48-24c40756ac21
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 2020
        }
      }
  "15":
    continueonerror: true
    id: "15"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: ${PaloAltoIoTIntegrationBase.Status}
      playbook-name:
        simple: ise
      status:
        simple: success
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 7764c52d-fa70-4de3-8fca-8606456ed4a1
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 7764c52d-fa70-4de3-8fca-8606456ed4a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 2125
        }
      }
  "16":
    continueonerror: true
    id: "16"
    ignoreworker: false
    note: false
    quietmode: 0
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      code42alerttype: {}
      emailclassification: {}
      id: {}
      phishingsubtype: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 3a2649ed-30aa-4cbb-8b93-c633594f0ac7
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3a2649ed-30aa-4cbb-8b93-c633594f0ac7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 2440
        }
      }
  "17":
    continueonerror: true
    id: "17"
    ignoreworker: false
    nexttasks:
      "no":
      - "18"
      "yes":
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoIoTIntegrationBase.CisceISEAttributes}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1110974c-bd59-4948-8af5-5c07b084fc26
      iscommand: false
      name: Exists
      script: Exists
      type: condition
      version: -1
    taskid: 1110974c-bd59-4948-8af5-5c07b084fc26
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 1350
        }
      }
  "18":
    continueonerror: true
    id: "18"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: No new devices available for updating in ISE
      playbook-name:
        simple: ise
      status:
        simple: success
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 8836abf2-1377-4f1e-8d03-99602f2d70e3
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 8836abf2-1377-4f1e-8d03-99602f2d70e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 1700
        }
      }
  "19":
    continueonerror: true
    id: "19"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This Scripts pulls all ISE deployment node details and check if
        there is any node thats either a standalone OR a primary node and the node
        matches the instance configured by the user.
      id: c0b4b7d9-7881-49c9-8ef9-640afdc12d6d
      iscommand: false
      name: panw_iot_get_active_ise_instance
      script: f25e9856-47b3-49c6-8d5b-abf33811e17f
      type: regular
      version: -1
    taskid: c0b4b7d9-7881-49c9-8ef9-640afdc12d6d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340,
          "y": -140
        }
      }
  "20":
    continueonerror: true
    id: "20"
    ignoreworker: false
    nexttasks:
      "no":
      - "1"
      "yes":
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: f39116b5-b2ed-474e-8ced-72cb54518c5f
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: f39116b5-b2ed-474e-8ced-72cb54518c5f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": 10
        }
      }
  "21":
    continueonerror: true
    id: "21"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: ise
      message:
        simple: ${PaloAltoIoTIntegrationBase.NodeErrorStatus}
      playbook-name:
        simple: ise
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 962685c8-eb4f-4646-8588-cafe8c0a7662
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 962685c8-eb4f-4646-8588-cafe8c0a7662
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 105
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3045,
        "width": 1780,
        "x": -290,
        "y": -510
      }
    }
  }
fromversion: 5.5.0
tests:
- No tests (auto formatted)
