Packs/PaloAltoIot3rdPartyBase/Playbooks/panw_iot_siem_integration.yml
description: Playbook to be run every 15 minutes via a job. Each run will get incremental
  updates for devices, alerts and vulnerabilities and send syslogs to the configured
  SIEM server.
id: panw_iot_siem_integration
inputs: []
name: panw_iot_siem_integration
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 098039fe-c1ab-4721-8355-cac0aaaf8348
      iscommand: false
      name: ""
      version: -1
      description: ''
    taskid: 098039fe-c1ab-4721-8355-cac0aaaf8348
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 330,
          "y": -830
        }
      }
  "1":
    continueonerror: true
    id: "1"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Gets a list of vulnerabilities detected within the last 15 minutes
      id: 8252ba86-85e5-4e03-80fe-c90d4290aa6f
      iscommand: true
      name: get-incremental-vulnerabilities
      script: Palo Alto IoT Third-Party-Integration Base|||get-incremental-vulnerabilities
      type: regular
      version: -1
    taskid: 8252ba86-85e5-4e03-80fe-c90d4290aa6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340,
          "y": 160
        }
      }
  "2":
    continueonerror: true
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Gets a list of devices detected/modified within the last 15 minutes
      id: daeb53f3-42a3-44cb-81fb-2528fc707a6f
      iscommand: true
      name: get-incremental-device-inventory
      script: Palo Alto IoT Third-Party-Integration Base|||get-incremental-device-inventory
      type: regular
      version: -1
    taskid: daeb53f3-42a3-44cb-81fb-2528fc707a6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -550,
          "y": 170
        }
      }
  "3":
    continueonerror: true
    id: "3"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Gets a list of alerts detected within the last 15 minutes
      id: 27aafc4e-65d1-48a7-874d-ba9c8f6e0237
      iscommand: true
      name: get-incremental-alerts
      script: Palo Alto IoT Third-Party-Integration Base|||get-incremental-alerts
      type: regular
      version: -1
    taskid: 27aafc4e-65d1-48a7-874d-ba9c8f6e0237
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 220
        }
      }
  "11":
    continueonerror: true
    id: "11"
    ignoreworker: false
    nexttasks:
      "no":
      - "14"
      "yes":
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: a7c119a7-0084-4b7d-819d-45888e5cba89
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: a7c119a7-0084-4b7d-819d-45888e5cba89
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -710,
          "y": 400
        }
      }
  "12":
    continueonerror: true
    id: "12"
    ignoreworker: false
    nexttasks:
      "no":
      - "15"
      "yes":
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 9d5c6ea4-d76d-4b05-85d9-2982fe550036
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: 9d5c6ea4-d76d-4b05-85d9-2982fe550036
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 420
        }
      }
  "13":
    continueonerror: true
    id: "13"
    ignoreworker: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 4d5b1369-9507-4da5-8d62-7481bc265273
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: 4d5b1369-9507-4da5-8d62-7481bc265273
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 390
        }
      }
  "14":
    continueonerror: true
    id: "14"
    ignoreworker: false
    nexttasks:
      "no":
      - "37"
      "yes":
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoIoTIntegrationBase.Devices.asset_list}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: f17b7516-fdac-46cf-8c1b-8e807687cf22
      iscommand: false
      name: Exists
      script: Exists
      type: condition
      version: -1
    taskid: f17b7516-fdac-46cf-8c1b-8e807687cf22
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 700
        }
      }
  "15":
    continueonerror: true
    id: "15"
    ignoreworker: false
    nexttasks:
      "no":
      - "41"
      "yes":
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoIoTIntegrationBase.Vulnerabilities.asset_list}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: b8a70b43-689f-4f5a-844a-3347e2f13d93
      iscommand: false
      name: Exists
      script: Exists
      type: condition
      version: -1
    taskid: b8a70b43-689f-4f5a-844a-3347e2f13d93
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 680
        }
      }
  "16":
    continueonerror: true
    id: "16"
    ignoreworker: false
    nexttasks:
      "no":
      - "46"
      "yes":
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoIoTIntegrationBase.Alerts.asset_list}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: e8c6f12d-39a3-48d8-8378-6b4c92a8f980
      iscommand: false
      name: Exists
      script: Exists
      type: condition
      version: -1
    taskid: e8c6f12d-39a3-48d8-8378-6b4c92a8f980
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1630,
          "y": 670
        }
      }
  "17":
    continueonerror: true
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      deviceList:
        simple: ${PaloAltoIoTIntegrationBase.Devices.asset_list}
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Converts device attribute maps to CEF syslogs
      id: 01abb7a5-8e9f-422a-89b2-65a713efac22
      iscommand: true
      name: convert-device-inventory-to-cef
      script: Palo Alto IoT Third-Party-Integration Base|||convert-device-inventory-to-cef
      type: regular
      version: -1
    taskid: 01abb7a5-8e9f-422a-89b2-65a713efac22
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -570,
          "y": 1020
        }
      }
  "18":
    continueonerror: true
    id: "18"
    ignoreworker: false
    nexttasks:
      "no":
      - "19"
      "yes":
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 35456326-365d-453b-8ecd-6ea49a63b14a
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: 35456326-365d-453b-8ecd-6ea49a63b14a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -590,
          "y": 1220
        }
      }
  "19":
    continueonerror: true
    id: "19"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      address: {}
      facility: {}
      level: {}
      message:
        simple: ${PaloAltoIoTIntegrationBase.DeviceSyslogs}
      port: {}
      protocol: {}
      using:
        simple: PANW IoT Siem Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Syslog Sender
      description: Sends a message to Syslog.
      id: fd68101b-25e5-47b4-83ca-2466cc19ff90
      iscommand: true
      name: syslog-send
      script: Syslog Sender|||syslog-send
      type: regular
      version: -1
    taskid: fd68101b-25e5-47b4-83ca-2466cc19ff90
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -590,
          "y": 1540
        }
      }
  "20":
    continueonerror: true
    id: "20"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      VulnerabilityList:
        simple: ${PaloAltoIoTIntegrationBase.Vulnerabilities.asset_list}
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Converts vulnerability detail maps to CEF syslogs
      id: dc2c52ac-1cf6-4d98-89f4-7ff9ae837da3
      iscommand: true
      name: convert-vulnerabilities-to-cef
      script: Palo Alto IoT Third-Party-Integration Base|||convert-vulnerabilities-to-cef
      type: regular
      version: -1
    taskid: dc2c52ac-1cf6-4d98-89f4-7ff9ae837da3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 980
        }
      }
  "21":
    continueonerror: true
    id: "21"
    ignoreworker: false
    nexttasks:
      "no":
      - "22"
      "yes":
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 5bbceacd-4240-4c6a-8c71-cd9969da25c7
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: 5bbceacd-4240-4c6a-8c71-cd9969da25c7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1180
        }
      }
  "22":
    continueonerror: true
    id: "22"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      address: {}
      facility: {}
      level: {}
      message:
        simple: ${PaloAltoIoTIntegrationBase.VulnerabilitySyslogs}
      port: {}
      protocol: {}
      using:
        simple: PANW IoT Siem Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Syslog Sender
      description: Sends a message to Syslog.
      id: 586c1de9-fbeb-4f4d-81f0-6fdb32eb7838
      iscommand: true
      name: syslog-send
      script: Syslog Sender|||syslog-send
      type: regular
      version: -1
    taskid: 586c1de9-fbeb-4f4d-81f0-6fdb32eb7838
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1525
        }
      }
  "23":
    continueonerror: true
    id: "23"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      alertList:
        simple: ${PaloAltoIoTIntegrationBase.Alerts.asset_list}
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: Converts alert detail maps to CEF syslogs
      id: ee95d630-dd1e-42e7-8a03-14f9ca698cb3
      iscommand: true
      name: convert-alerts-to-cef
      script: Palo Alto IoT Third-Party-Integration Base|||convert-alerts-to-cef
      type: regular
      version: -1
    taskid: ee95d630-dd1e-42e7-8a03-14f9ca698cb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 905
        }
      }
  "24":
    continueonerror: true
    id: "24"
    ignoreworker: false
    nexttasks:
      "no":
      - "49"
      "yes":
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: a02a345e-bbca-45ff-8b3f-df4bb8310d86
      iscommand: false
      name: isError
      script: isError
      type: condition
      version: -1
    taskid: a02a345e-bbca-45ff-8b3f-df4bb8310d86
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1630,
          "y": 1105
        }
      }
  "25":
    continueonerror: true
    id: "25"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 2
    scriptarguments:
      address: {}
      facility: {}
      level: {}
      message:
        simple: ${PaloAltoIoTIntegrationBase.AlertSyslogs}
      port: {}
      protocol: {}
      using:
        simple: PANW IoT Siem Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Syslog Sender
      description: Sends a message to Syslog.
      id: 625e5502-50d3-4548-8960-a0e7434fbfb9
      iscommand: true
      name: syslog-send
      script: Syslog Sender|||syslog-send
      type: regular
      version: -1
    taskid: 625e5502-50d3-4548-8960-a0e7434fbfb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1690,
          "y": 1650
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    note: false
    quietmode: 0
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      code42alerttype: {}
      emailclassification: {}
      id: {}
      phishingsubtype: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 255909f4-24e8-4a9a-8180-78b0dada2641
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 255909f4-24e8-4a9a-8180-78b0dada2641
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 2710
        }
      }
  "34":
    continueonerror: true
    id: "34"
    ignoreworker: false
    nexttasks:
      "no":
      - "35"
      "yes":
      - "3"
      - "1"
      - "2"
    note: false
    quietmode: 1
    scriptarguments:
      brandname:
        simple: Syslog Sender
      using:
        simple: PANW IoT Siem Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c2400ca4-502a-4064-8fe6-2059239f19f4
      iscommand: false
      name: isSiemAvailable
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c2400ca4-502a-4064-8fe6-2059239f19f4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 330,
          "y": -640
        }
      }
  "35":
    id: "35"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Syslog Sender (SIEM) instance is not enabled
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: disabled
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: b810257f-e682-4dab-8646-4cb43c69c68c
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: b810257f-e682-4dab-8646-4cb43c69c68c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": -420
        }
      }
  "36":
    continueonerror: true
    id: "36"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to get device list from IoT cloud.
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 0834f766-85c6-4dc9-8d17-8e7828cdc7c2
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 0834f766-85c6-4dc9-8d17-8e7828cdc7c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 620
        }
      }
  "37":
    continueonerror: true
    id: "37"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: No new devices to send to SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: a90fb10c-236f-472c-88c1-1e374f5f918a
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: a90fb10c-236f-472c-88c1-1e374f5f918a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1140,
          "y": 1000
        }
      }
  "38":
    continueonerror: true
    id: "38"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to convert device map to CEF format
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 05b8c0b8-3e96-48db-8404-748b061b5123
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 05b8c0b8-3e96-48db-8404-748b061b5123
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1090,
          "y": 1420
        }
      }
  "39":
    continueonerror: true
    id: "39"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: successfully sent  ${PaloAltoIoTIntegrationBase.Devices.count}  to
          SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: device
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 5c7fee0b-f5a9-4eca-8e62-5b0035f757c6
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 5c7fee0b-f5a9-4eca-8e62-5b0035f757c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -890,
          "y": 1820
        }
      }
  "40":
    continueonerror: true
    id: "40"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to get vulnerability list from IoT cloud.
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: vulnerability
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: c2052885-de33-430c-832e-2d0b76b38c19
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: c2052885-de33-430c-832e-2d0b76b38c19
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -90,
          "y": 605
        }
      }
  "41":
    continueonerror: true
    id: "41"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: No new vulnerabilities to send to SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: vulnerability
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: b3ebe8ab-9007-4ed3-8bcb-f96aabbf4f20
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: b3ebe8ab-9007-4ed3-8bcb-f96aabbf4f20
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -120,
          "y": 940
        }
      }
  "42":
    continueonerror: true
    id: "42"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to convert vulnerability to CEF format
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: vulnerability
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: e62b6cdd-4029-4ce7-88ad-ed5d25793fab
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: e62b6cdd-4029-4ce7-88ad-ed5d25793fab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 1370
        }
      }
  "43":
    continueonerror: true
    id: "43"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: successfully sent  ${PaloAltoIoTIntegrationBase.Vulnerabilities.count}  Vulnerabilities
          to SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: vulnerability
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: d1ee59a5-207b-4313-840f-deedc3c61128
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: d1ee59a5-207b-4313-840f-deedc3c61128
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 250,
          "y": 1840
        }
      }
  "44":
    continueonerror: true
    id: "44"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: successfully sent  ${PaloAltoIoTIntegrationBase.Alerts.count}  Vulnerabilities
          to SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: alert
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 7e502369-cb9d-4ba9-81c1-0a503502f161
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 7e502369-cb9d-4ba9-81c1-0a503502f161
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1850
        }
      }
  "45":
    continueonerror: true
    id: "45"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to convert alert to CEF format
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: alert
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: c25692ad-50ab-4c68-8d09-e4e5b6f6c2b9
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: c25692ad-50ab-4c68-8d09-e4e5b6f6c2b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 1465
        }
      }
  "46":
    continueonerror: true
    id: "46"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: No new alerts to send to SIEM
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: success
      type:
        simple: alert
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 71ccc13d-5632-46f4-853b-2459147b003d
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 71ccc13d-5632-46f4-853b-2459147b003d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 1000
        }
      }
  "47":
    continueonerror: true
    id: "47"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: Failed to get alert list from IoT cloud.
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: alert
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: 669aafe4-cfe3-4fee-8ff5-d08311f9291d
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: 669aafe4-cfe3-4fee-8ff5-d08311f9291d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 585
        }
      }
  "48":
    id: "48"
    ignoreworker: false
    note: false
    quietmode: 0
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      code42alerttype: {}
      emailclassification: {}
      id: {}
      phishingsubtype: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: d3f7a7f7-ebf2-4ba1-8b23-60e26dca3f13
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d3f7a7f7-ebf2-4ba1-8b23-60e26dca3f13
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -560,
          "y": -250
        }
      }
  "49":
    continueonerror: true
    id: "49"
    ignoreworker: false
    nexttasks:
      "no":
      - "50"
      "yes":
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoIoTIntegrationBase.AlertSyslogs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: ac263a5b-20ce-4220-83aa-541b53df5e59
      iscommand: false
      name: Exists
      script: Exists
      type: condition
      version: -1
    taskid: ac263a5b-20ce-4220-83aa-541b53df5e59
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1690,
          "y": 1410
        }
      }
  "50":
    continueonerror: true
    id: "50"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      integration-name:
        simple: siem
      message:
        simple: No Alert to send to SIEM server
      playbook-name:
        simple: panw_iot_siem_integration
      status:
        simple: error
      type:
        simple: alert
      using:
        simple: Palo Alto IoT Third-Party-Integration Base Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto IoT Third-Party-Integration Base
      description: sends a status message back to PANW IOT cloud
      id: de1693b1-3c68-42ce-8028-341ae58c3cbf
      iscommand: true
      name: send-status-to-panw-iot-cloud
      script: Palo Alto IoT Third-Party-Integration Base|||send-status-to-panw-iot-cloud
      type: regular
      version: -1
    taskid: de1693b1-3c68-42ce-8028-341ae58c3cbf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1250,
          "y": 1635
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_23_yes": 0.48,
      "24_49_no": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 3635,
        "width": 3340,
        "x": -1270,
        "y": -830
      }
    }
  }
fromversion: 5.5.0
tests:
- No tests (auto formatted)
